@keyframes up {
    0% {
        margin-top: 100%;
    }

    100% {
        margin-top: 0%;
    }
}

.header {
    display: flex;
    justify-content: space-around;
    height: 30px;
    animation-name: up;
    animation-duration: 1s;
    animation-timing-function: 1;
}

.article {
    display: flex;
    flex-direction: row;
    animation-name: up;
    animation-duration: 1.5s;
    animation-timing-function: 1;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 1920px;
    height: 1080px;
    background-image: url("../images/background.jpg");
}

.introTitle {
    color:cornsilk;
    text-align: center;
    margin-right: 220px;
}

.board_Article {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation-name: up;
    animation-duration: 2s;
    animation-timing-function: 1;
}

.board_Article > hr {
    width: 90%;
}

.innerArticle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerArticle > img {
    width: 300px;
    height: 300px;
    margin: 30px 10px 0 10px;
}

.footer {
    display: flex;
    justify-content: space-around;
    animation-name: up;
    animation-duration: 2.5s;
    animation-timing-function: 1;
}

#searchBox {
    width: 500px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    padding-left: 10px;
    margin-right: 30px;
    outline: none;
    font-size: large;
    background-color: rgb(233, 233, 233);
}

#searchSubmit {
    width: 100px;
    height: 50px;
    border: 0;
    border-radius: 15px;
    margin-right: 50px;
    outline: none;
    background-color:coral;
}
