.wrap {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registerArticle {
    border : 1px solid #DBDBDB;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 380px;
    top: 50%;
    left: 50%;
    margin: -175px 0px 0px -190px;
    background: white;
}

#registerForm {
    display: flex;
    flex-direction: column;
}